body{
	margin:0;
	padding:0;
	background-color:#083D77;
	font-size:20px;
	color:#083D77 ;
	text-align:center;
	line-height:1.5;
}
#content{
	background-color:#FFFD82;
	border:10px 20px;
	max-width:520px;
	margin:auto;
	margin-top: 8rem;
	padding:10px;
	box-shadow:20px 20px #00CECB;
}
h1{
	color:#FF87AB;
	font-size:40px;
	margin: 0 auto;
	margin-bottom: 1rem;
	margin-top:1.5rem;
    width: 90%;
	font-family: "Anta", sans-serif;
}
label{
	color:#083D77;
	font-size: 15px;
	font-weight:bold;
	font-family:"Red-Hat-Display", sans-serif;
	
}
ol{
	list-style-type: none;
	padding:0;
}

p {
	color:#083D77;
	font-weight: bold;
	font-size:15px;
	font-family:"Red-Hat-Display", sans-serif;
	margin-bottom:1.5rem;
}
input[type="submit"] {
	border: none;
	padding: 10px;
	font-size: 30px;
	font-family:"Anta";
	background-color: #FF87AB;
	color:#FFFD82;
}
input[type="email"]{
	background-color:#00CECB;
	color:white;
	width:75%;
	padding:5px;
	border: none;
	margin-bottom:1rem;
	
}
input[type="checkbox"]{
	background-color:#FF87AB;
	padding:0;
	border: none;
	margin-bottom:1rem;
	
	
}
/*for mobile */
@media screen and (max-width: 480px) {
  body {
    font-size: 10px;
  }

  #content {
    padding: 15px;

  }

  input[type="submit"] {
    width: 100%;
  }
  p{
	  font-size:10px;
  }
  