body{
	margin:0;
	padding:0;
	background-color:#083D77;
	font-size:20px;
	color:#083D77 ;
	text-align:center;
	line-height:1.5;
}
#content{
	background-color:#FFFD82;
	border:10px 20px;
	max-width:550px;
	margin:auto;
	margin-top: 8rem;
	padding:10px;
	box-shadow:20px 20px #00CECB;
}
h1{
	color:#FF87AB;
	font-size:40px;
	margin: 0 auto;
	margin-bottom: 1rem;
	margin-top:1.5rem;
    width: 90%;
	font-family: "Anta", sans-serif;
}